/* chat */

.chat-input {
  bottom: 5%;
  position: fixed;
}

input {
  width: 500px;
}

li {
  list-style: none;
}

/* manage-users */

.swiper {
  width: 75%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  input {
    width: 300px;
  }
}
